[submodule "third_party/libOTe"]
	path = third_party/libOTe
	url = https://github.com/osu-crypto/libOTe.git
[submodule "third_party/MP-SPDZ"]
	path = third_party/MP-SPDZ
	url = https://github.com/data61/MP-SPDZ.git
